{{ define "main"}}

{{with .Params.hero_section}}
{{if.enable}}
<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="{{ .bg_img }}" alt="hero background" class="jarallax-img"/>
        <video src=""></video>
        <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
    </div>
    <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-center">
        <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
            <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
                {{ .hero_text }}<br/>{{ .hero_location }}
            </h1>
            <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
                {{with .hero_button}}
                {{if.enable}}
                <a href="#" class="btn btn-primary btn-lg">{{ .title }}</a>
                <!-- <a href="#" class="btn btn-ghost btn-lg border-0">Reservation</a> -->
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<div id="hero-end-anchor"></div>
<!-- main hero end -->
{{ end }}
{{ end }}

{{ with .Params.about_upper }}
{{if.enable}}
<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container text-center">
        <h1 class="mb-0">{{ .title }}</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <p>{{ .description }}</p>
            </div>
        </div>
    </div>
    <div class="section-content container mt-20">
        <div class="image-slider">
            <a href="#" class="image-slider-prev d-none d-md-flex">
                <i class="material-icons">arrow_back</i>
            </a>
            <a href="#" class="image-slider-next d-none d-md-flex">
                <i class="material-icons">arrow_forward</i>
            </a>
            <div class="image-slider-contents">
                {{ range .gallery_items }}
                <div class="image-slider-item">
                    <img src="{{ . }}" alt="image" class="object-fit-cover w-100" height="600"/>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->
{{ end }}
{{ end }}

{{with .Params.about_section}}
{{if.enable}}
<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container">
        <div class="row text-center text-lg-left mt-15 mt-lg-20 align-items-center">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="pl-0 pl-xl-7 pr-0 pr-xl-16">
                    <h1 class="mb-0">{{ .title }}</h1>
                    <span class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">{{ .sm_text }}</span>
                    <p class="mt-8 mb-0">{{ .description }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-15 mb-lg-0">
                <div class="image-slider mr-0 mr-xl-7">
                    <img src="{{ .img }}" alt="image" class="image-slider-item"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->
{{ end }}
{{ end }}

{{end}}
