<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta name="description" content="{{ .Description }}" />
    
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- multilingual SEO optimizations -->
    {{ if .IsTranslated }}
    <!---->
    {{ range .AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{.Lang}}"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}
    <link
      rel="alternate"
      hreflang="x-default"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}

    <!-- Favicons -->
    <link href="/favicon.png" rel="icon" />
    <link href="/favicon.png" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link href="/assets/css/vendor.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <!-- <link href="/assets/css/style.css" rel="stylesheet" /> -->

    {{ $vendor := resources.Get "css/vendor.css" }}
    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">
    <link rel="stylesheet" href="{{$vendor.RelPermalink}}">
  </head>

  <body>
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-main bg-white">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                      <a class="navbar-brand font-weight-bold" href="/">
                        <img src="/img/logo-sm.png" style="max-width: 100px;">
                      </a>
                      <button class="navbar-toggler" style="margin-left: auto;" type="button" data-toggle="collapse"
                              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                              aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                          {{- $currentNode := . }}
                          <!---->
              
                          {{ range .Site.Menus.main }}
                          <!---->
                          {{- if .HasChildren }}
                          <li class="nav-item" style="position: relative !important;">
                            <a href="{{ .URL | absLangURL }}" style="" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="bi bi-chevron-right"></i
                            ><span class="text-uppercase">{{ .Name }}</span></a>
                            <ul>
                              <div class="dropdown-menu">
                              {{ range .Children }}
                                <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                              {{end}}
                              </div>
                            </ul>
                          </li>
                          {{- else }}
                          <li class="nav-item">
                            <a class="nav-link text-uppercase"
                            data-toggle=""
                            href="{{ .URL | absLangURL }}">{{ .Name }}</a
                            >
                          </li>
                          {{- end }}
                          
                          <!---->
                          {{- end }}
                        </ul>
                          <div class="navbar-spacer"></div>
                          <a href="/{{.Site.Params.head_link}}" class="btn btn-outline-primary text-nowrap" data-toggle="" target="_blank" class="getstarted">{{.Site.Params.head_btn}}</a>

                          <div class="navbar-spacer"></div>
                          <!-- Language List -->
                          {{ if .IsTranslated }}
                          <select
                            class="btn btn-outline-primary"
                            style="padding: .9375rem 10px;"
                            id="select-language"
                            onchange="location = this.value;"
                          >
                            {{ $siteLanguages := site.Languages}}
                            <!---->
              
                            <!---->
              
                            {{ $pageLang := .Page.Lang}}
                            <!---->
                            {{ range .Page.AllTranslations }}
                            <!---->
                            {{ $translation := .}}
                            <!---->
                            {{ range $siteLanguages }}
                            <!---->
                            {{ if eq $translation.Lang .Lang }}
                            <!---->
                            {{ $selected := false }}
                            <!---->
                            {{ if eq $pageLang .Lang}}
                            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected >
                              {{ .LanguageName }}
                            </option>
                            {{ else }}
                            <option
                              id="{{ $translation.Language }}"
                              value="{{ $translation.Permalink }}"
                            >
                              {{ .LanguageName }}
                            </option>
                            {{ end }}
              
                            <!---->
                            {{ end }}
                            <!---->
                            {{ end }}
                            <!---->
                            {{ end }}
                          </select>
                          {{ end }}
                      </div>
                      <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                </div>
              <!-- .navbar -->
            </div>
        </div>
    </header>
    <!-- End Header -->
    <main id="main">
      {{ block "main" . }}
      {{ end }}
    </main>
    
    <!-- Footer -->
    {{ partial "footer" (dict "footer_link1_title" "Privacy Policy" "footer_link1" "/privacy-policy/" "footer_link2_title" "Terms" "footer_link1" "/terms/" ) }}
    <!-- JS scripts -->
    {{ partial "scripts"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
    </script>
  </body>
</html>
