{{ define "main"}}

{{with .Params.hero_section}}
{{if.enable}}
<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="{{ .bg_img }}" alt="hero background" class="jarallax-img"/>
        <video src=""></video>
        <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
    </div>
    <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-end">
        <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
            <small class="fs-2 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                {{ .hero_sm_text }}
            </small>
            <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
                {{ .hero_text }}<br/>{{ .hero_location }}
            </h1>
            <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
                {{with .hero_button}}
                {{if.enable}}
                <a href="{{ .btn1_link }}" class="btn btn-primary btn-lg">{{ .btn1 }}</a>
                <a href="{{ .btn2_link }}" class="btn btn-ghost btn-lg border-0">{{ .btn2 }}</a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<div id="hero-end-anchor"></div>
<!-- main hero end -->
{{ end }}
{{ end }}


{{ with .Params.about_section }}
{{if.enable}}
<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container text-center">
        <h1 class="mb-0">{{ .title }}</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <p>{{ .description }}</p>
            </div>
        </div>
    </div>
    <div class="section-content container mt-20">
        <div class="image-slider">
            <a href="#" class="image-slider-prev d-none d-md-flex">
                <i class="material-icons">arrow_back</i>
            </a>
            <a href="#" class="image-slider-next d-none d-md-flex">
                <i class="material-icons">arrow_forward</i>
            </a>
            <div class="image-slider-contents">
                {{ range .gallery_items }}
                <div class="image-slider-item">
                    <img src="{{ . }}" alt="image" class="object-fit-cover w-100" height="600"/>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ with .about_details }}
    {{if.enable}}
    <div class="section-content container py-19 py-lg-20">
        <div class="row vertical-divider-light">
            {{ range .detail_item }}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">{{ .icon }}</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            {{ .title }}
                        </div>
                        <p class="mb-0 text-body">{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{ end }}
    {{ end }}
</section>
<!-- "about" section end -->
{{ end }}
{{ end }}



{{ with .Params.menu_section }}
{{if.enable}}
<!-- "our work" section start -->
<section class="section bg-secondary" id="our-work">
    <div class="section-content text-center container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <h1>{{ .heading }}</h1>
            </div>
        </div>
        <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
            {{ range .menu_items }}
            <div class="shuffle-grid-item" data-groups="makeup">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url({{ . }})"></div>
                    <!-- <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div> -->
                    <!-- <a href="#" class="card-link-overlay"></a> -->
                </div>
            </div>
            {{end}}
        </div>
        <div class="d-flex justify-content-center justify-content-md-between align-items-end mt-20">
            <div class="text-center text-md-left">
                <p class="text-center">{{ .description }}</p>
            </div>
        </div>
        {{ with .menu_btn }}
        {{if.enable}}
        <a href="{{ .link }}" class="btn btn-primary btn-lg mt-20">{{ .title }}</a>
        {{ end }}
        {{ end }}
    </div>
</section>
<!-- "our work" section end -->
{{ end }}
{{ end }}

{{ with .Params.delivery_section }}
{{ if.enable }}
<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container text-center">
        <!-- <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            general contractors in new york
        </small> -->
        <h1 class="mb-0">{{.title}}</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <p>{{ .description }}</p>
            </div>
        </div>
        <div class="row mt-6 mt-md-10 mt-lg-17 vertical-divider-light">
            {{ range .rating_item }}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
                        <div class="card-icon mb-6">
                            <img src="{{.icon}}" alt="yelp icon" width="45">
                        </div>
                        <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            {{ .title }}
                        </div>
                        <div class="star-rating">
                            {{ range .stars }}
                            <i class="material-icons">{{.}}</i>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
<!-- "about" section end -->
{{ end }}
{{ end }}

{{ with .Params.maps }}
{{ if.enable }}
<!-- "map" section start -->
<section class="gmap">
    <div class="gmap-embed" data-parallax-speed="0">
        {{if.location1}}
        <div>
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
        </div>
        {{end}}
        {{if.location2}}
        <div>
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
        </div>
        {{end}}
        {{if.location3}}
        <div>
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
        </div>
        {{end}}
    </div>
</section>
<!-- "map" section end -->
{{end}}
{{end}}

{{end}}