{{ define "main"}}

{{with .Params.hero_section}}
{{if.enable}}
<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="/img/homepage/cover.jpg" alt="hero background" class="jarallax-img"/>
        <video src=""></video>
        <div class="hero-background-overlay" style="background-color: rgba(0,0,0,.25)"></div>
    </div>
    <div class="hero-foreground hero-foreground-gradient-black-left d-flex flex-column justify-content-center justify-content-md-center">
        <div class="container text-white py-14 py-md-23 py-lg-25 text-center text-md-left">
            <h1 class="fs-10 fs-lg-11 font-weight-bold mt-10 mb-16">
                {{ .hero_text }}<br/>{{ .hero_location }}
            </h1>
            <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
                {{with .hero_button}}
                {{if.enable}}
                <a href="#" class="btn btn-primary btn-lg">{{ .title }}</a>
                <!-- <a href="#" class="btn btn-ghost btn-lg border-0">Reservation</a> -->
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<div id="hero-end-anchor"></div>
<!-- main hero end -->
{{ end }}
{{ end }}

{{ with .Params.promotions }}
{{ if.enable }}
<!-- "promotions" section start -->
<section class="section" id="news">
    <div class="section-content container">
        <div class="d-flex justify-content-between align-items-center align-items-lg-end flex-column flex-lg-row">
            <div class="text-center text-lg-left">
                <h1>{{ .title }}</h1>
            </div>
        </div>
        <div class="row mt-17">
            {{range .promo_items}}
            <div class="col-12 col-md-6">
                <div class="card text-white mb-14 mb-md-0">
                    <img src="{{ .img }}" class="card-img object-fit-cover" alt="photo" height="380">
                    <div class="card-img-overlay bg-gradient-black-bottom d-flex flex-column justify-content-end p-15 p-md-20">
                        <h2 class="card-title fs-6 fs-md-7 fs-lg-9">{{ .title }}</h2>
                        <p class="card-text">{{ .date }}</p>
                        <div>
                            <a href="{{ .btn_link }}" class="btn btn-link">{{ .btn_title }}</a>
                        </div>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            {{end}}
        </div>
        <div class="mt-19 mt-lg-20 text-center">
            <a href="{{ .btn_link }}" class="btn btn-lg btn-outline-primary">{{ .btn_title }}</a>
        </div>
    </div>
</section>
<!-- "promotions" section end -->
{{end}}
{{end}}

{{ with .Params.vouchers }}
{{if.enable}}
<!-- "vouchers" section start -->
<section class="section jarallax" data-jarallax data-speed="0.2" id="vouchers">
    <img class="section-background-image jarallax-img" src="{{ .bg_img }}" alt="background image"/>
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.25)"></div>
    <div class="section-content container">
        <div class="text-center text-white mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                {{ .sm_text }}
            </small>
            <h1 class="mb-0">{{ .title }}</h1>
        </div>
        <div class="row">
            {{ range .voucher_item }}
            <div class="col-12 col-lg-4 mb-14 mb-lg-0">
                <div class="card border-0">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        {{ with .ribbon }}
                        {{if.enable}}
                        <div class="ribbon ribbon-left ribbon-danger ribbon-float-top-right mt-9 px-10">{{ .title }}</div>
                        {{end}}
                        {{end}}
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">{{ .title }}</h1>
                        <p class="mb-12">{{ .detail }}</p>
                        <div class="price fs-7 text-black mb-12">
                            <div class="price-currency pr-0">{{ .currency }}</div>
                            <div class="price-value">{{ .price }}</div>
                        </div>
                        <a href="{{ .cta_link }}" class="btn btn-outline-primary d-block">{{ .cta_title }}</a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>
<!-- "vouchers" section end -->
{{end}}
{{end}}

{{end}}